<h4 style="text-align: center;padding-top: 100px;color: #34495E;font-size: 2.5rem;">Payment Successful!</h4>
<a href="/" style="text-decoration: none;margin: 10px auto 20px 40%;font-size: 1rem;color: #154360;font-weight: bold;border: 2px solid #154360;padding: 10px 20px 10px 20px;">
  Back<b style="visibility: hidden;">_</b>Home
</a>
